/* Сброс стилей */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    color: white;
}

input, button {
    font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
}

ul {
    list-style-position: inside;
}

/* Универсальные стили */

:root {
    --primary-color: #ff0f80;
    --secondary-color: #DDD;
    --header-top-height: 106px;
}

.section {
    padding: 120px 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 30px;
}

.section-title {
    margin-bottom: 80px;
    text-transform: uppercase;
    font-size: 1.4rem;
}

.btn {
    font-size: 1rem;
    padding: 12px 28px;
    border: none;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
}

.btn-primary:hover {
    background-color: hsl(332, 100%, 42%);
}

.btn-primary:active {
    background-color: hsl(332, 100%, 34%);
}

.btn-secondary {
    background-color: var(--secondary-color);
    color: #444;
}

.btn-secondary:hover {
    background-color: hsl(0, 0%, 75%);
}

.btn-secondary:active {
    background-color: hsl(0, 0%, 60%);
}

/* Меню сайта */

header {
    background: url(img/image-hands-up-darker.jpg) 50% 50% / cover no-repeat;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
    height: var(--header-top-height);
}

.logo {
    max-width: 48px;
}

.btn-menu-mobile {
    display: none;
    width: 45px;
    height: 45px;
    background-color: transparent;
    border: none;
}

.btn-menu-mobile:active {
    background-color: rgba(255,255,255,0.2);
}

nav {
    padding: 0 8px;
}

.header-line a {
    text-transform: uppercase;
    padding: 20px;
}

.header-line a:hover {
    background-color: var(--primary-color);
}

.header-search {
    padding: 10px;
    padding-left: 16px;
    border: 1px solid #DDD;
    border-radius: 18px;
    outline: none;
}

.header-search:focus {
    outline: 2.5px solid var(--primary-color);
}

/* Баннер */

.header-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    padding: 60px 40px;
    height: calc(100vh - var(--header-top-height));
}

.header-banner__text h1 {
    font-size: 4rem;
    margin-bottom: 40px;
}

.header-banner__text p {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 48px;
}

.header-banner__img {
    width: 200px;
}

/* Слушать онлайн */

.listen-section {
    background: url(img/bg-animated-blobs.svg) 50% 50% / cover no-repeat;
}

.player-online {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 160px;
}

.player > h3 {
    font-size: 1.5rem;
    opacity: 0.6;
    margin-bottom: 8px;
}

.player > h4 {
    font-size: 2.2rem;
    margin-bottom: 12px;
}

.player > p {
    opacity: 0.5;
    margin-bottom: 24px;
}

.player-search {
    display: flex;
    column-gap: 10px;
}

.player-controls {
    margin-bottom: 40px;
}

.player-cover {
    width: 40%;
    border: 5px solid rgba(255,255,255,0.2);
}

.player-controls button {
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    border: none;
}

.player-controls button:nth-child(2) {
    width: 60px;
    height: 60px;
    padding: 20px;
}

/* О плеере */

.about-section {
    background: url(img/image-sound-equipment-darker.jpg) 50% 50% / cover no-repeat fixed;
}

.about {
    padding: 0 60px;
}

.about p {
    line-height: 1.5rem;
    margin-bottom: 28px;
}

.about ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    list-style-type: none;
    font-size: 0.95rem;
    margin-bottom: 48px;
}

.about li {
    background-color: rgba(255,255,255,0.2);
    margin: 0;
    padding: 15px;
    border-radius: 15px;
}

/* Загрузить */

.download-section {
    background: url(img/bg-animated-blobs-02.svg) 50% 50% / cover;
}

.download {
    display: flex;
    align-items: center;
}

.download-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 100px;
}

.download-links > button {
    display: block;
    margin-bottom: 15px;
}

.download-mobile {
    display: flex;
    gap: 15px;
}

.btn-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
    background-color: #555;
    color: white;
    padding: 10px 18px;
}

.btn-mobile:hover {
    background-color: #444;
}

.btn-mobile:active {
    background-color: #333;
}

.btn-mobile img {
    max-width: 16px;
    margin-right: 5px;
}

.btn-mobile img {
    max-width: 16px;
    vertical-align: middle;
}

.download-older-ver {
    font-size: 0.9rem;
    text-align: center;
}

.download-older-ver > * {
    line-height: 1.2rem;
    margin-bottom: 7px;
}

.download-older-ver a {
    opacity: 0.6;
    text-decoration: underline;
}

.download > img {
    max-width: 60%;
}

/* Footer */

footer {
    background-color: #111;
    padding-bottom: 40px !important;
}

.footer-links {
    display: flex;
    margin-bottom: 60px;
}

.footer-col img {
    width: 80px;
}

.footer-col {
    width: 25%;
}

.footer-col h3 {
    margin-bottom: 14px;
}

.footer-col a {
    display: block;
    font-size: 0.9rem;
    opacity: 0.6;
    margin-bottom: 10px;
}

.footer-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-copyright a {
    display: block;
    font-size: 0.9rem;
    opacity: 0.6;
}

/* Мобильная версия */

@media screen and (max-width: 920px) {
    .header-line a {
        font-size: 0.9rem;
    }

    .about ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 810px) {
    html {
        font-size: 14px;
    }

    .logo-mobile-menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .btn-menu-mobile {
        display: block;
    }

    .header-line {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .header-line nav {
        display: none;
    }

    .header-line nav,
    .header-line form,
    .header-line input {
        width: 100%;
        text-align: center;
    }

    .header-line a {
        display: block;
    }

    .player-online {
        column-gap: 40px;
    }

    .about ul {
        display: grid;
        grid-template-columns: 1fr;
    }

    .download-info {
        row-gap: 40px;
    }

    .download-links > button {
        width: 100%;
    }

    .download-mobile {
        flex-direction: column;
    }

    .footer-links {
        flex-direction: column;
    }

    .footer-col {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    .footer-col:first-child {
        margin-bottom: 60px;
    }

    .footer-col img {
        width: 60px;
    }

    .footer-col h3 {
        font-size: 1.4rem;
    }

    .footer-col a {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .footer-copyright {
        flex-direction: column;
    }

    .footer-copyright p {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .footer-copyright a {
        font-size: 1.2rem;
        padding: 10px;
    }
}