.section-title {
    text-align: center;
    margin-bottom: 60px;
}

.signup-form {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.signup-form input {
    margin-bottom: 18px;
}

.signup-form input:last-of-type {
    margin-bottom: 30px;
}

.btn-primary {
    margin-bottom: 20px;
}

.signup-links a {
    font-size: 0.9rem;
    color: var(--text-color-primary)
}

.signup-links a:first-child {
    margin-right: 10px;
}